:root{
    --primary: #edf2f4 !important;
    --secondary: #ef233c !important;
    --tertiary: #8d99ae !important;

    --primary-dark: #1b6b3d !important;
    --secondary-dark: #d90429 !important;
    --tertiary-dark: #2b2d42 !important;
}

.color-cv-primary{
    color: var(--primary);
}

.color-cv-secondary{
    color: var(--secondary);
}

.color-cv-tertiary{
    color: var(--tertiary);
}

.bg-cv-primary{
    background-color: var(--primary);
}

.bg-cv-secondary{
    background-color: var(--secondary);
}

.bg-cv-tertiary{
    background-color: var(--tertiary);
}

.row-fullscreen{
    height: 100vh;
}

.navbar{
    height: 100vh;
}

nav{
    position: sticky;
}

.nav-logo{
    display: inline;
    font-size: 128px;
    font-weight: bold;
}

.btn-nav{
    color: white;
    margin-top: 5px;
    background-color: var(--secondary);
}

.btn-contact{
    color: white;
    margin-top: 5px;
    height: 64px;
}

.btn-nav:hover, .btn-contact:hover{
    text-decoration: none;
    color: white;
    background-color: var(--secondary-dark);
}

#logo-h{
    color: var(--secondary);
}

#logo-b{
    color: var(--tertiary);
}

.nav-logo-link:hover{
    text-decoration: none;
}

.nav-logo-link:hover #logo-h{
    color: var(--secondary-dark);
}

.nav-logo-link:hover #logo-b{
    color: var(--tertiary-dark);
}

.text-shadow{
    text-shadow: 4px 4px 4px 4px rgba(0,0,0,.5)
}

.col-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}

.content{
    height: 100vh;
}

.full-name p{
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
}

#name::first-letter{
    color: var(--secondary);
}

#surname::first-letter{
    color: var(--tertiary);
}

.full-role p{
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
}

#role-one{
    color: var(--secondary);
}

#role-two{
    color: var(--tertiary);
}

.section-1-content{
    font-size: 64px;
    font-weight: bold;
}

.section-1-subcontent{
    font-size: 48px;
    font-weight: bold;
}

#profile-img{
    border-radius: 100%;
}

.title{
    font-size: 64px;
    font-weight: bold;
}

.table-text{
    font-size: 18px;
}

.carousel-img{
    width: 64em;
    height: 36em;
}

.carousel-item{
    height: 100vh;
}

.carousel-text{
    word-wrap: normal;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-title{
    font-weight: bold;
    font-size: 24px;
}

.carousel-table{
    font-size: 24px;
}

.carousel-subtitle{
    font-weight: bold;
    font-size: 18px;
}

.media-links{
    display: inline;
}

#section-3{
    margin-top: 5em;
}

#section-4{
    margin-top: 5em;
}

#section-5{
    margin-top: 5em;
}

@media (max-width: 1455px) {
    .nav-logo{
        font-size: 96px;
    }
}

@media (max-width: 1190px) {
    .nav-logo{
        font-size: 64px;
    }
}

@media (max-width: 930px) {
    .nav-logo{
        font-size: 32px;
    }
}